* {
    font: "Helvetica";
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

header a {
    font-weight: lighter;
    font-size: .75em;
    text-transform: uppercase;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1px
}

nav li {
    padding: 0px 5px;
    list-style: none;
}

#contact a {
    font-size: .5em;
}


a:hover, a p:hover {
    color: blue;
}

#splash {
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

#splash p{
    margin: 0 50%;
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: left;
}

#splash b {
    font-weight:600;
}

section {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

div#about {
    display:flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-items:auto;

}


section h1 {
    text-transform:uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 2em;
}

section p {
    font-size: 1.25em;
    text-align: left;
    font-weight:lighter;
    text-transform: lowercase;
}

#about #portrait {
    max-width: 100%;
    min-width: 75px;
    min-height: 75px;
    border: 3px solid;
    flex: 0 1 auto;
    margin-bottom: 10px;
}

#about div {

padding-right: 10px;
flex: 1;
align-self: flex-start;
margin: 0;

}

#resume {
    font-style: italic;
    font-weight: bolder;
}

#current_page {
font-weight: 600;
}

#about p {
margin: 0;
}
