* {
    font: "Helvetica";
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    min-height: 500px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    align-content: right;
    }

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1px
}

nav li {
    padding: 0px 5px;
    list-style: none;
}

 header a {
    font-weight: lighter;
    font-size: 10pt;
    text-transform: uppercase;

}

#contact a {
    font-size: 7pt;
}

#splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

} 
#splash a {
    font-size: 50pt;
}

a:hover {
    color: blue;
}


img#portrait {
    max-width: 150px;
    min-width: 50px;
    border-radius: 50%;
    margin: 10px 0;
    border: solid;
    align-self: center;
}

section {
    display: flex;
    align-self: center;
    flex-direction: column;
    max-width: 600px;
}

section h2 {
    text-transform:lowercase;
}

section p {
    text-align: justify;
    text-justify: auto;
    font-weight: 300;
}

#resume {
    font-style: italic;
    font-weight: bolder;
}

#current_page {
font-weight: 500;
}
