* {
    font: "Helvetica";
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
}

#container {
    min-height: 500px;
    
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    font-weight: lighter;
    font-size: 10pt;
    text-transform: uppercase;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1px
}

nav li {
    padding: 0px 5px;
    list-style: none;
}

#contact a {
    font-size: 7pt;
}


a:hover {
    color: blue;
}


section {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


#splash {
    font-size: 50pt;
    text-transform: lowercase;
    align-self: center;
    margin: 25% 0;

}

section h1 {
    text-transform:uppercase;
    font-weight: 500;
    text-align: left;    
}

section p {
    font-size: 20pt;
    text-align: justify;
    text-justify: auto;
    font-weight: 300;
    text-transform: lowercase;
}

img#portrait {
    max-width: 200px;
    width: 75%;
    border-radius: 50%;
    border: solid;
    margin: 0 auto
}

#resume {
    font-style: italic;
    font-weight: bolder;
}

#current_page {
font-weight: 500;
}
